:root {
  --font-color: white;
  --primary-color: dodgerblue;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas {
  color: var(--font-color);
  font-size: 35px;
  margin-right: 15px;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
}

.player {
  max-width: 80vw;
  min-width: 800px;
  border:5px solid black;
  border-radius: 10px;
  background: black;
  position: relative;
  cursor: pointer;
}

.video {
  border-radius: 5px;
  width: 100%;
  height: auto;
}

/* containers */
.show-controls {
  width: 100%;
  height: 30%;
  z-index: 2;
  position: absolute;
  bottom: 0;
  cursor: default;
  }  

.controls-container {
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 95px;
  margin-top: -95px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: all 0.5s ease-out 2s; 
  overflow: hidden;
}


.show-controls:hover .controls-container {
  opacity: 1;
  transition: all 0.2s ease-out;
  
} 

  .progress-range {
    margin: auto;
    border-radius: 10px;
    /* position: absolute; */
    top: 15px;
    left: 15px;
    cursor: pointer;
    background: rgba(202, 202, 202, 0.5);
    height: 8px;
    width: calc(100% - 30px);
  }

  .progress-range:hover {
    height: 10px;
  }


.progress-bar {
  background:var(--primary-color);
  width: 20%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.control-group {
  /* background: goldenrod; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}


/* left controls */
.controls-left {
  justify-content: flex-start;
  margin-left: 15px;
 } 

/* play & pause */
.play-controls { 
  margin-right: 15px;
  display: flex;
  top: 13px;
  position: absolute;
  margin: 15px;
}

.fa-play:hover,
.fa-pause:hover {
  color: var(--primary-color);
  cursor: pointer;
}
  

/* volume */
.volume-icon {
  cursor: pointer;
  top: 27px;
  position: absolute;
  left: 76px; 
} 

.volume-range {
  height: 8px;
  width: 100px;
  background: rgba(70, 70, 70, 0.5);
  border-radius: 10px;
  position: relative;
  top: -21px;
  left: 50px;
  cursor: pointer;
  /* margin-left: 15px; */
}
.volume-bar {
  background: var(--font-color);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: width 0.2s ease-in;
}

.volume-bar:hover {
  background: var(--primary-color);
}



/* controls right */
.controls-right{
  justify-content: flex-end;
  margin-right: 15px;
}
.controls-right,
.control-left {
  /* margin-right: -27px; */
  flex: 1;
  overflow: hidden;
  position: relative;
  top: 40px;
}

.fullscreen {
  position: relative;
  top: 20px;
  cursor: pointer;
}


.speed, 
.time {
  position: relative;
  top: 10px;
}

/* playback speed */
.speed {
  margin-right: 15px;

}

select {
  background: transparent;
  color: var(--font-color);
  border: none;
  font-size: 18px;
  position: relative;
  top: -2.5px;
  border-radius: 5px;
}

select:focus {
  outline: none;
}
 
select > option {
  background: rgba(0, 0, 0, 0.9);
  border: none;
  font-size: 14px;
}

select,
option {
cursor: pointer;
}

select,
.time {
  color: var(--font-color);
  background: transparent;
}



.video-fullscreen {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}



/* @media Query: Large Smartphone (vertical) */
@media screen and (max-width: 600px) {

  .player { 
    min-width: 0;
    max-width: 95vw;
  }

  .fas {
    font-size: 20px;
  }

  .controls-container {
    height: 50px;
  }

  .control-group {
    position: relative;
  }
}